# {{displayName}}
{{language}}

Learn about using the {{displayName}} API with {{language}}

{{description}} To learn more about {{displayName}}, see [What is {{displayName}}?]({{overviewUrl}})

* Read the [getting started guide]({{gettingStartedUrl}}).
* Learn how to develop using the [{{language}} client library]({{sourceUrl}}).
* Interact with the API in the browser, using [Google APIs Explorer]({{apiExplorerUrl}})

## Install the {{libName}} library
To install the {{language}} library, you must use [{{packageManager}}]({{packageManagerUrl}})

```
{{installation}}
```

## Documentation
* [{{libName}} {{displayName}} reference]({{apiReferenceUrl}})