# {{apiDisplayName}}
{{languageName}}

Learn about using the {{apiDisplayName}} API with {{languageName}}

{{apiDescription}} To learn more about {{apiDisplayName}}, see [What is {{apiDisplayName}}?]({{apiOverviewUrl}})

* Read the [getting started guide]({{apiGettingStartedUrl}}).
* Learn how to develop using the [{{languageName}} client library]({{clientLibGeneralApiReferenceUrl}}).
{{#apiExplorerUrl}}
* Interact with the API in the browser, using [Google APIs Explorer]({{apiExplorerUrl}}).
{{/apiExplorerUrl}}

## Install the {{clientLibDisplayName}} library
To install the {{languageName}} library, you must use [{{languagePackageManager}}]({{languagePackageManagerUrl}})

```
{{clientLibInstallation}}
```

## Documentation
{{#clientLibApiReferenceUrl}}
* [{{apiDisplayName}} reference]({{clientLibApiReferenceUrl}})
{{/clientLibApiReferenceUrl}}
{{^clientLibApiReferenceUrl}}
* [{{apiDisplayName}} reference]({{clientLibGeneralApiReferenceUrl}})
{{/clientLibApiReferenceUrl}}

## Additional Resources
* [Client library GitHub repo]({{clientLibSourceUrl}})
{{#apiHttpReferenceUrl}}
* [HTTP Reference]({{apiHttpReferenceUrl}})
{{/apiHttpReferenceUrl}}